body {
    background-color: #d0e4fe;
}

h1 {
    color: green;
    text-align: center;
}

p {
    font-family: 'Times New Roman';
    font-size: 16px;
    text-align: center;
}

h2 {
    color: chocolate;
    text-align: center;
}

.Images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Content {
    max-width: 720px;
    margin: auto;
}

.LinkCentre {
    text-align: center;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: table;
  }
  
  .success {background-color: #4CAF50;} /* Green */
  .success:hover {background-color: #46a049;}
  
  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;}