/* Reset */
*, *:before, *:after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

header
{
  padding: 20px;
}

body 
{
  background-color: #665856;
  font-family: sans-serif;
}

h1 
{
  text-align: center;
  display: inline-block;
  color: #e5bfa0;
}

h2 
{
  color: #e5bfa0;
  text-align: center;
  padding: 20px;
}

.game .content h2 
{
  padding: 0 0 10px 0;
}

p 
{
  font-size: 16px;
  margin-bottom: 10px;
}

nav
{
  text-align: right;
}

.wrapper
{
  max-width: 1440px;
  margin: auto;
}

.subheading 
{
  padding: 20px;
}

.left, .right
{
  width: 50%;
  float: left;
  padding: 20px;
}

.right 
{
  background-color: #757c64;
}

.left 
{
  padding:  0 100px 100px 100px;
  text-align: center;
}

.left_game, .right_game 
{
  float: left;
}

.images 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.logo
{
  height: 37px;
  width: auto;
}

.btn 
{
  border: auto; /* Remove borders */
  background-color: #9bb464; /* Add a text color */
  padding: 20px 30px; 
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  display: inline-block;
  width: 175px;
  text-align: center;
  transition: .4s all;
}

.btn:hover
{
  background-color: #fff;
  color: #665856;
}


.game .content 
{
  max-width: 1032px;
  width: 100%;
  margin: auto;
}